services:
  nginx:
    networks:
      default:
      ol-network:
        aliases:
          - mit-learn-nginx.internal.odl.local

  web:
    environment:
      REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
    volumes:
      - ${OL_ROOT}/certs/odl.local.pem:/etc/ssl/certs/odl.local.pem
      - ${HOME}/.local/share/mkcert/rootCA.pem:/etc/ssl/certs/mkcert-rootCA.pem
    networks:
      default:
      ol-network:

  celery:
    environment:
      REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
    volumes:
      - ${OL_ROOT}/certs/odl.local.crt:/etc/ssl/certs/odl.local.crt
      - ${HOME}/.local/share/mkcert/rootCA.pem:/etc/ssl/certs/mkcert-rootCA.pem
    networks:
      default:
      ol-network:
    mem_limit: 4G

  watch:
    networks:
      default:
      ol-network:
        aliases:
          - mit-learn-nextjs.internal.odl.local

networks:
  default:
  ol-network:
    external: true
