include: 
  - apisix/docker-compose.yml
  - db/docker-compose.yml
  - keycloak/docker-compose.yml
  - tools/docker-compose.yml 

services:
  ldap:
    image: bitnami/openldap:latest
    ports:
      - '1389:1389'
      - '1636:1636'
    environment:
      LDAP_ADMIN_USERNAME: admin
      LDAP_ADMIN_PASSWORD: adminpassword
      LDAP_USERS: user01,user02
      LDAP_PASSWORDS: password1,password2
      LDAP_ROOT: dc=odl,dc=local
    volumes:
      - 'openldap_data:/bitnami/openldap'

networks:
  default:
    name: ol-network
    ipam:
      driver: default
      config:
        - subnet: "172.44.0.0/16"
          gateway: "172.44.0.1"
volumes:
  openldap_data:

secrets:
  odl.local.crt:
    file: ./certs/odl.local.crt
  odl.local.key:
    file: ./certs/odl.local.key
  odl.local.pem:
    file: ./certs/odl.local.pem
