services:

  nginx:
    networks:
      default:
        aliases: !reset []
  varnish:
    networks:
      default:
      ol-network:
        aliases: 
          - mitxonline-varnish.internal.odl.local

  web:
    environment:
      REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
    volumes:
      - ${OL_ROOT}/certs/odl.local.pem:/etc/ssl/certs/odl.local.pem
      - ${HOME}/.local/share/mkcert/rootCA.pem:/etc/ssl/certs/mkcert-rootCA.pem
    networks:
      default:
      ol-network:
    extra_hosts: !reset []

  celery:
    environment:
      REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
    volumes:
      - ${OL_ROOT}/certs/odl.local.crt:/etc/ssl/certs/odl.local.crt
      - ${HOME}/.local/share/mkcert/rootCA.pem:/etc/ssl/certs/mkcert-rootCA.pem
    networks:
      default:
      ol-network:
    extra_hosts: !reset []

  watch:
    networks:
      default:
      ol-network:
        aliases: 
          - mitxonline-watch.internal.odl.local

  refine:
    networks:
      default:
      ol-network:
        aliases: 
          - mitxonline-refine.internal.odl.local

networks:
  default:
  ol-network:
    external: true
