include: 
  - apisix/docker-compose.yml
  - keycloak/docker-compose.yml
  - tools/docker-compose.yml

networks:
  ol-network:
    name: ol-network
    ipam:
      driver: default
      config:
        - subnet: "172.44.0.0/16"
          gateway: "172.44.0.1"


secrets:
  ol-ssl-cert:
    file: ./certs/odl.local.crt
  ol-ssl-key:
    file: ./certs/odl.local.key
