services:
  nginx:
    networks:
      - default
      - ol-network
  web:
    networks:
      - default
      - ol-network
    extra_hosts:
      - keycloak.odl.local:172.44.0.200
    environment:
      REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
    volumes:
      - ${OL_ROOT}/certs/odl.local.pem:/etc/ssl/certs/odl.local.pem
      - ${HOME}/.local/share/mkcert/rootCA.pem:/etc/ssl/certs/mkcert-rootCA.pem

  celery:
    networks:
      - default
      - ol-network
    extra_hosts:
      - keycloak.odl.local:172.44.0.200
    environment:
      REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
    volumes:
      - ${OL_ROOT}/certs/odl.local.pem:/etc/ssl/certs/odl.local.pem
      - ${HOME}/.local/share/mkcert/rootCA.pem:/etc/ssl/certs/mkcert-rootCA.pem

networks:
  default:
  ol-network:
    external: true
