services:
  api-gateway:
    build:
      context: .
    ports:
      - 80:80
      - 443:443
    env_file:
      - path: ../env/apisix.env
      - path: ../env/apisix.local.env
        required: false
    volumes:
      - ./conf/apisix.yaml:/usr/local/apisix/conf/apisix.yaml
      - ./conf/config.yaml:/usr/local/apisix/conf/config.yaml
      - ./conf/debug.yaml:/usr/local/apisix/conf/debug.yaml
      - ../cert/odl.local.crt:/usr/local/apisix/conf/cert/odl.local.crt
      - ../cert/odl.local.key:/usr/local/apisix/conf/cert/odl.local.key
    secrets:
      - ol-ssl-cert
      - ol-ssl-key
    networks:
      default:
        aliases:
          - mail.odl.local
          - keycloak.odl.local
          - learn.odl.local
          - api.learn.odl.local
          - mitxonline.odl.local
          - openedx.odl.local
          - courses.mitxonline.odl.local
          - staff.mitxonline.odl.local
          - frontend.mitxonline.odl.local


